#root {
    /* width: 100vw; */
    /*  height: 100vh;
  display: grid; */
    /* justify-content: center; */
}

canvas {
    /* vertical-align: middle; */
}

body {
    /*   overflow: hidden; */
    background-color: #1d1d1b;
}

.main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.tx {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

h1 {
    color: #fff;
    font-size: 100px;
    font-weight: "bold";
    font-family: "Roboto";
    opacity: 0.5;
    margin: 200px 100px;
}

.logo {
    fill: #f3f3f3;
    width: 100px;
    margin: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    pointer-events: none;
  }

  .group1 {
      height: 400px;
      background-color: #131618;
  }