.sname img {
  width: 140px;
}

.pp {
  padding: 6em;
}

.logo {
  width: 8em;
  padding-top: 3em;
  padding-right: 3em;
  pointer-events: none;
}

.pens .card {
  width: 48%;
}

.tx {
  font-size: 5em;
  z-index: 1;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.p5js .card {
  width: 32%;
}

.gamelist .cont {
  width: 50%;
}

@media (max-width: 1930px) {
  .tx {
    font-size: 12vh;
  }
}

@media (max-width: 1210px) {
  .gamelist .cont {
    width: 49%;
  }
}

@media (min-width: 1020px) {
  .logo {
    width: 8em;
  }
}

@media (max-width: 1020px) {
  .pp {
    padding: 4em;
  }

  .groupgames .t3 {
    font-size: 1.3em;
  }
}

@media (max-width: 930px) {
  .gamelist {
    flex-wrap: wrap;
  }
  .gamelist .cont {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .logo {
    width: 7em;
  }
  .tx {
    font-size: 10vh;
  }
  .p5js .card {
    width: 100%;
  }
  .pens .card {
    width: 100%;
  }

  .p5js .card {
    width: 48%;
  }
}

@media (max-width: 420px) {
  .tx {
    font-size: 9vh;
  }
  .logo {
    width: 6em;
    padding-right: 2em;
  }
  .sname img {
    width: 40vw;
  }

  .pp {
    padding: 2em;
  }
}

@media (max-width: 620px) {
  .p5js .card {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .tx {
    font-size: 10vw;
  }

  .logoGroup {
    margin: 0 auto;
  }
}

.mailContainer h2 {
  height: fit-content;
}

.mailContainer {
  flex-grow: 1;
  justify-content: center;
  flex-flow: column;
  display: flex;
}

.main {
  height: 100vh;
  box-sizing: border-box;
}

.golf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  pointer-events: none;
}

.main canvas {
  touch-action: auto !important;
}

.grouppen {
  background-color: #77d877;
}

.groupart {
  background-color: #f3f3f3;
}

.textWhite {
  color: #f3f3f3;
}

.group1 .container {
  display: flex;

  flex-flow: column;
  height: 100%;
}

.group1 {
  height: 100vh;
  box-sizing: border-box;
  background-color: #131618;
}

.logoGroup {
  display: flex;
  user-select: none;
}

.logoGroup a {
  color: #fff;
  letter-spacing: 0.1em;
  margin: 10px;
  width: 25px;
  height: 25px;
  font-size: 1.1em;
}

.logoGroup img,
.logoGroup span {
  position: absolute;
  transition: margin 0.1s ease-in-out;
}

.logoGroup img:hover,
.logoGroup span:hover {
  margin-top: -5px;
}

.groupgames {
  background-color: #131618;
  color: #f3f3f3;
}

.fontBold {
  font-family: 'Roboto';
  font-weight: 700;
}

.groupgames .t3 {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 1em;
}

.groupgames .t4 {
  margin-bottom: 4em;
}

.groupgames .t4 a {
  text-decoration: underline;
  color: #f3f3f3;
}

.groupgames .gamelist {
  display: flex;
}

.p5js {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  will-change: transform;
}

.card canvas,
.card img,
.card .thumbnail {
  transition: box-shadow 0.5s;
  box-shadow: none;
}

.card:hover canvas,
.card:hover img,
.card:hover .thumbnail {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.p5js .card {
  margin-bottom: 2em;
  min-height: 100px;
  aspect-ratio: 1/1;
}

.im {
  width: 100%;
}

.txt {
  padding-bottom: 3em;
}

.txt p {
  font-size: 1.3em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.about {
  background-color: #f3f3f3;
}

.thumbnail {
  overflow: hidden;
  cursor: pointer;
  /* it fix safari border not render whit a transform */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.pens .card {
  margin-bottom: 2em;
  transition: box-shadow 0.5s;
  box-shadow: none;
}

.pens .card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.pens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pens video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pens video::-webkit-media-controls {
  display: none !important;
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2em;
  margin: 0.6em;
  pointer-events: none;
  opacity: 0.8;
}

@keyframes updown {
  from {
    margin-bottom: 6px;
  }
  to {
    margin-bottom: 12px;
  }
}

.arrow svg {
  animation-duration: 0.6s;
  animation-name: updown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 16px;
  fill: #f3f3f3;
  position: absolute;
  bottom: 0;
  user-select: none;
}

.arrow {
  user-select: none;
  display: flex;
  justify-content: center;
}

.dummy::after {
  content: '';
  flex: auto;
}

.dummy {
  margin: 0 !important;
  min-height: 0 !important;
}

.debuger {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
